# Application Env
DJANGO_DB_HOST=db
DJANGO_DB_NAME=postgres
DJANGO_DB_USER=postgres
DJANGO_DB_PASSWORD=postgres
DJANGO_DB_PORT=5432
DJANGO_SECRET_KEY=9$b*0qa43=ha_-)h_v6h-$&uxo49p4@x)=@i3)5j%nwc*pi)no
DEBUG=True

DJANGO_SETTINGS_MODULE=config.settings.local

# Authentication
AUTHENTICATION_HEADER=Authorization

# other
OPENAI_API_KEY=

LOAD_EX=n
FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=

# Redshift DB connection
MOT_REDSHIFT_DB_NAME=dev
MOT_REDSHIFT_DB_SCHEMA=public
MOT_REDSHIFT_DB_HOST=mot-test.963587864686.us-west-2.redshift-serverless.amazonaws.com
MOT_REDSHIFT_DB_USER=mot-admin
MOT_REDSHIFT_DB_PORT=5439
MOT_REDSHIFT_DB_PASSWORD=String#2

DEBUG=True
IS_LOCAL=True
DJANGO_SETTINGS_MODULE=config.settings.local
